
{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
<form method="GET">
  <input type="text" name="q" placeholder="Search clients..."
	 value="{{ request.GET.q }}">
  <button type="submit"> Search </button>
</form>

<a href="{% url 'client_create' %}">Add New Client</a>

<ul>
  {% for client in clients %}
  <li>
    <p>
    <a href="{% url 'client_profile' client.id %}">
      {{ client.first_name }}
    </a> - P{{ client.loan.loan_amount }}
    <button onclick="fillLoanCalculator({{
		     client.loan.loan_amount}})">Open in Calculator</button>
    </p>

  </li>
  {% empty %}
  <li> No clients found. </li>
  {% endfor %}
</ul>
{% endblock %}
